.hidden { display: none; }

#filter {
  text-align: center;
  padding: 15px;
}

#filter button {
  border: 0;
  background-color: #854DFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
  padding: 5px 20px;
}

#filter button.active { background-color: #000; }

#filter button:focus { outline: 0; }

#posts {
  width: 100y;
  margin: 0 auto;
}

#posts .post {
  width: 25%;
  float: left;
  height: 250px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  background: #854DFF;
}

#posts .post img {
  position: relative;
  display: block;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 100%;
}

#posts .post:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(5px);
}

#posts .post .post-content {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#posts .post .post-content::before,
#posts .post .post-content::after { pointer-events: none; }

#posts .post .post-content,
#posts .post a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#posts .post a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

#posts .post h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em;
  color: white !important;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

#posts .post h2,
#posts .post p { margin: 0; }

#posts .post p {
  letter-spacing: 1px;
  font-size: 68.5%;
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

#posts .post:hover p, #posts .post:hover h2 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
 @media screen and (max-width: 600px) {

#posts .post { width: 50%; }
}


#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 10px;
	border: 5px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
  overflow: hidden;
}
img.btn_close {
	float: right;

}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}
